<header>
  <nav>
    <ol>
      <li><a href="/"><span class="brand-green">R</span><span class="brand-blue">E</span><span class="brand-red">A</span><span class="brand-yellow">D</span><span class="brand-green">R</span></a></li>
      <li><a href="/my-stories">MY STORIES</a></li>
      <li><a href="/create">CREATE STORY</a></li>
    </ol>
  </nav>
</header>
