<head>
  <link rel="stylesheet" href="/styles/layout.css" />
</head>
<header>
  <nav>
    <div class="main-nav">
    <a href="/" class="logo"><span class="brand-green">R</span><span class="brand-blue">E</span><span class="brand-red">A</span><span class="brand-yellow">D</span><span class="brand-green">R</span></a>
    <ol>
      <li><a href="/my-stories">MY STORIES</a></li>
      <li><a href="/create">CREATE STORY</a></li>
    </ol>
    </div>
  </nav>
</header>
