<!DOCTYPE html>
<html lang="en">

<head>
  <title>Create</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/users.js"></script>
</head>

<body>
  <div class="create-container">

  <%- include('partials/_header') %>

  <form method="POST" action="/create/new">
  <h1>story title:</h1>
  <input class="title-entry" type="text" name="title" placeholder="Enter the title of your story..."/>
  <h1 class="write-story">write story:</h1>
  <textarea type="text" name="story" placeholder="Write your story..."></textarea><br><br>
  <!-- <input type="text" name="story" placeholder="Write your story..."/> -->
  <input class="pencil-svg" type="image"src="/svgs/pencil_icon.svg" alt="Submit" width="150px"/>
  </form>

  </div>

</body>

</html>
