<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <div class="body-container">
  <%- include('partials/_header') %>
  <h1>A Collaborative<br>Story Platform.</h1>
  <!-- loop through the results from stories query -->
  <div class="bookshelf">
  <% for (const story of stories) { %>
    <div>
      <!-- UPDATE THIS LINE WHEN FATIMA HAS MADE STORY PAGES -->
      <p><a href="/story/<%= story.id %>"><button>This will be a pretty picture</button></a><br>
      <!-- book title -->
      <%= story.title %><br>
      <!-- book completion status -->
      <% if (story.completed === true) { %>
        Status: Completed
      <% } else { %>
        Status: Unfinished
      <% } %></p>
    </div>
  <% } %>
  </div>
  </div>
</body>

</html>
