<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_header') %>
  <h1>My Stories</h1>
  <!-- loop through the results from stories query -->
  <div class="book-display"></div>
  <% for (const story of stories) { %>
      <p><a href="/story/<%= story.id %>"><button>This will be a pretty picture</button></a><br>
      <!-- book title -->
      <%= story.title %>
      <br>
      <!-- book completion status -->
      <% if (story.completed === true) { %>
        Status: Completed
      <% } else { %>
        Status: Unfinished
      <% } %>
      <form method="POST" action="/my-stories/<%= story.id %>/delete"><button>Delete</button></form>
    </p>
  <% } %>
  <!-- DOUBLE CHECK THIS WORKS WHEN ZARINA IS DONE -->
  <p>
    <a href="/create"><button>This will be add new book button</button></a><br>
    Create New Story
  </p>
</div>
</body>

</html>
