<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <div class="body-container">
  <%- include('partials/_header') %>
  <h1>My Stories.</h1>
  <!-- loop through the results from stories query -->
  <div class="bookshelf">
  <% for (const story of stories) { %>
    <div class="book-wrapper">
        <a href="/story/<%= story.id %>">
        <% if ((Number(story.published_at) + story.id) % 4 === 0) {%>
        <img class="book-svg" src="/svgs/green_book.svg" alt="story"></a>
        <% } %>
        <% if ((Number(story.published_at) + story.id) % 4 === 1) {%>
        <img class="book-svg" src="/svgs/blue_book.svg" alt="story"></a>
        <% } %>
        <% if ((Number(story.published_at) + story.id) % 4 === 2) {%>
        <img class="book-svg" src="/svgs/red_book.svg" alt="story"></a>
        <% } %>
        <% if ((Number(story.published_at) + story.id) % 4 === 3) {%>
        <img class="book-svg" src="/svgs/yellow_book.svg" alt="story"></a>
        <% } %>
      <!-- book title -->

      <div>
      <p class="book-description">
      <%= story.title %><br>
      <!-- book completion status -->
      <% if (story.completed === true) { %>
        Status: Completed
      <% } else { %>
        Status: Unfinished
      <% } %>
      </p>
      <form  method="POST" action="/my-stories/<%= story.id %>/delete"><button class="delete-button">X</button></form>
    </div>
    </div>
  <% } %>
  <!-- DOUBLE CHECK THIS WORKS WHEN ZARINA IS DONE -->

  <!-- <p><a href="/create"><img class="pencil-svg" src="/svgs/pencil_icon.svg" alt="write-entry" width="200px"></a><br>
  Create New Story
  </p> -->

</div>
</div>
</body>

</html>
