<!DOCTYPE html>
<html lang="en">

<head>
  <title>Story</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/users.js"></script>
</head>

<body>
  <%- include('partials/_header') %>
  <h1>
  <%= story[0].story_title %>
  </h1>
  <%= story[0].initial_story %><br><br>
  <%= JSON.stringify(story) %>

  <!-- if condition for if last story block is not complete -->
  <% if (story[story.length - 1].completed === false) { %>
    the story is ongoing
  <!-- if condition for if last story block is complete -->
  <% } else if (story[story.length - 1].completed === true) { %>
    the story is completed
  <% } %>



</body>

</html>
