@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap');

// brand colours
$ibm-plex-mono: 'IBM Plex Mono', monospace;
$brand-green: #3EAE67;
$brand-blue: #406FE1;
$brand-red: #D24E32;
$brand-yellow: #F4A041;
$background: #f8efdf;

// font sizes
$large-text: 34px;
$regular-text: 16px;


.brand-green {
  color: $brand-green;
}

.brand-blue {
  color: $brand-blue;
}

.brand-red {
  color: $brand-red;
}

.brand-yellow {
  color: $brand-yellow;
}

body::-webkit-scrollbar {
  background: $background;
  width: 10px;
}

body::-webkit-scrollbar-track {
  background-color: $background;
}

body::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 8px;
  width: 8px;
}

textarea::-webkit-scrollbar {
  background: $background;
  width: 12px;
}

textarea::-webkit-scrollbar-track {
  background-color: white;
}

textarea::-webkit-scrollbar-thumb {
  background-color: $brand-green;
  border-radius: 8px;
  width: 8px;
  border: 3px solid white;
}

body {
  font-family: $ibm-plex-mono;
  font-size: $regular-text;
  background-color: $background;
  padding-top: 3.5rem;
}

h1 {
  font-weight: normal;
  text-transform: uppercase;
  font-size: $large-text;
  margin-bottom: 0px;
  padding: 4rem;
}

.body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  background-color: $background;
}

.story-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  overflow-wrap: break-word;
  .story-so-far {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 70%;
    // word-wrap: break-word;

    h1 {
      padding: 1.5rem;
    }
    margin-bottom: 1rem;
  }
  .submissions-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.75rem;
    background-color: #F4A041;
    form {
      background-color: aquamarine;
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin: 0;
      padding: 0;
    }
    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 90%;
      margin: 0;
      padding: 0;
      background-color: #D24E32;

      li {
        background-color: #406FE1;
        display: flex;
        flex-direction: column;
        word-wrap: break-word;
        background-color: white;
        margin: 5px;
        width: 70%;
        border: 1px solid black;
        border-radius: 4px;
        text-align: start;
        filter: drop-shadow(7px 7px 0px black);
        padding: 10px;
        padding-top: 15px;
        margin-bottom: 1.5rem;
        .like-wrapper {
          align-self: flex-end;
          padding-top: 10px;
          padding-top: 10px;
          span {
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
           user-select: none;
           margin-left: 3px;
           i {
            color: $brand-red;
            cursor: pointer;
            transition: 0.1s ease-in;
           }
           i:hover {
            color: $brand-red;
            transition: 0.1s ease-in;
            transform: translateY(-2px);
           }
          }
        }
      }
    }
  }
  .entry-selector {
    background-color: peachpuff;
    display: flex;
    flex-direction: row;

    fieldset {
      padding-left: 8rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border: none;
    }
  }
  .continue-form {
    border: none;
    right: 400px;
  }
}

.create-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;

    h1 {
      padding: 1.5rem;
      margin-top: 0px;
    }
    textarea {
      width: 90%;
      padding-bottom: 300px;
      border: 1px solid black;
      border-radius: 4px;
      text-align: start;
      filter: drop-shadow(7px 7px 0px black);
      resize: none;
      box-sizing: border-box;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 10px;
    }

    .title-entry {
      width: 90%;
      border: 1px solid black;
      border-radius: 4px;
      text-align: start;
      filter: drop-shadow(7px 7px 0px black);
      resize: none;
      width: 25rem;
      padding: 10px;
    }
    textarea:focus {
      outline: none;
    }
    .title-entry:focus {
      outline: none;
    }
  }
}

.entry-container {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  .left-entry {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      textarea {
        width: 90%;
        padding-bottom: 400px;
        border: 1px solid black;
        border-radius: 4px;
        text-align: start;
        filter: drop-shadow(7px 7px 0px black);
        resize: none;
        box-sizing: border-box;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
      }
      textarea:focus {
        outline: none;
      }
    }
  }
  .right-entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    p {
      margin-top: 0px;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}

nav {
  display: flex;
  width: 100%;
  position: fixed;
  justify-content: center;
  right: 0px;
  left: 0px;
  top: 0px;
  padding-top: 2rem;
  background-color: $background;
  z-index: 1;
  a:link {
    text-decoration: none;
    color: black;
  }
  div {
    display: flex;
    width: 90%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: $background;
    justify-content: space-between;
    border-bottom: 1px solid black;
  }
  ol {
    list-style-type: none;
    display: block;
    li {
      padding: 1rem;
      padding-left: 40px;
      padding-right: 40px;
      display: inline;
      border-left: 1px solid black;
    }
  }
}

.logo {
  padding-left: 40px;
  font-weight: 700;
  font-size: $large-text;
}

.bookshelf {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  justify-content: center;
  column-gap: 5rem;
  row-gap: 2.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.book-wrapper {
  display: flex;
  flex-direction: column;
  width: 300px;
  text-transform: uppercase;
  margin-bottom: 0px;
  div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    // align-content: flex-start;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    .book-description {
      margin-top: 0px;
    }
    .delete-button {
      color: $brand-red;
      display: flex;
      font-weight: 700;
      cursor: pointer;
      font-size: 18px;
    }
  }
}

.book-svg {
  filter: drop-shadow(0px 0px 0px black);
  transition: 0.1s ease-out;
}

.book-svg:hover {
  filter: drop-shadow(3px 3px 0px black);
  transition: 0.1s ease-in;
  transform: translateY(-3px) translateX(-3px);
}
.pencil-svg {
  filter: drop-shadow(0px 0px 0px black);
  transition: 0.2s ease-out;
}

.pencil-svg:hover {
  filter: drop-shadow(5px 5px 0px black);
  transition: 0.1s ease-in;
  transform: translateY(-5px) translateX(-5px);
}
